body{
    font-family: 'Quicksand', sans-serif;
    background-color: #fffff4;
}

h1{
    font-family: 'Unbounded', cursive;
    color:#172121;
    text-align: center;
}
h2{
    font-family: 'Unbounded', cursive;
    color:#172121;
}

p{
    font-size: 15px;
    color: #4a4a4a;
    line-height: 30px;
}

.button{
    background-color: white;
    color: #172121;
    padding: 16px 32px;
    text-align:center;
    text-transform:capitalize;
    display:inline-block;
    border-radius: 12px;
    border: 2px solid #ce9421;
    font-size: 16px;
    transition: width 0.4s height 0.4s font-size 0.4s;
}

.button:hover{
    background-color: #ce9421;
    color:white;
    font-size:20px;
    padding: 18px 36px; 
}

.button2{
    background-color: white;
    color:#172121;
    padding: 24px 48px;
    text-align: center;
    text-transform:capitalize;
    display: inline-block;
    border-radius: 24px;
    border:4px solid #F44E3F;
    font-size: 24px;
    transition: width 0.4s height 0.4s font-size 0.4s;
}

.button2:hover{
    background-color: #F44E3F;
    color:white;
    padding: 26px 52px;
}

.page{
    display: flex;
    justify-content: center;

}