{% load static %}

<link rel="stylesheet" href="{% static 'cqna/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Unbounded&display=swap" rel="stylesheet">

<div class="navigator">
	<a class="navigator a" href="{% url 'cqna:logout' %}">Logout</a>
	<a class="navigator a" href="{% url 'cqna:search' %}">Search</a>
</div>

<div class="page">
<form method="post">
	{% csrf_token %}
	<div style="padding-left: 40px; padding-top: 20px; display: inline-block; vertical-align: top;">
		<h3>Post Title</h3>
		{% if message %}<p><strong style="color: red;">{{ message }}</strong></p>{% endif %}
		<textarea cols="25" rows="1" name="post_title"></textarea><br/>
		<h3>Write post content below</h3>
		{% if message %}<p><strong style="color: red;">{{ message }}</strong></p>{% endif %}
		<textarea cols="35" rows="8" name="post_text"></textarea><br/>
		<div style="padding-left: 0px; padding-top: 20px;">
			<input class="button" type="submit" value="post" /> <a href="{% url 'cqna:index' %}"><input class="button" type="button" value="cancel"></a></div>
	</div>
</form>
</div>