	<div style="width: 400px; padding-left: 20px;">
		<h3>Existing Tags</h3>
		<p style="line-height: 1.8;">
		{% if pre_tags %}
		{% for t in pre_tags %}
		<span style="border: 1px solid black; white-space: nowrap; padding: 3px;">{{ t }}</span>
		{% endfor %}
		{% endif %}
		</p></div>
<form method="post">
	{% csrf_token %}
	<div style="padding-left: 20px; display: inline-block; vertical-align: top;">
		<label for="tag" style="padding-right: 14px;">enter tag</formlabel>
			<input type="text" id="tag" name="tag"><br/>
			<input type="submit" value="add" name="add">
			<input type="submit" value="done"name="done">
			{% if error_message %}
			<p style="color: red;">{{ error_message }}</p>
			{% endif %}
	</div>
	<div style="width: 400px; padding-left: 20px; display: inline-block; vertical-align: top;">
		<h3>Chosen Tags</h3>
		<p style="line-height: 1.8;">
		{% if tags %}
		{% for t in tags %}
		<span style="border: 1px solid black; white-space: nowrap; padding: 3px;">{{ t }}</span>
		{% endfor %}
		{% endif %}
		</p></div>
</form>

