<fieldset style="width: 1000px; display: inline-block; vertical-align: top;"> 
<legend><h3>{{ post_title }}</h3></legend>
<div style="width: 1000px;"><p>{{ body|safe }}</p></div>
</fieldset>

<div style="width: 600px; display: inline-block; vertical-align: top; padding-left: 25px;">
	<h4>Related Tags</h4>
	{% if tags %}
	{% for tag in tags %}
	<span style="border: 1px solid black; white-space: nowrap; 		padding: 4px;">{{ tag }}</span>
	{% endfor %}
	{% endif %}
</div>

<form method="post">
	{% csrf_token %}
	<h3>Reply</h3>
	{% if message %} <p><strong style="color: red;">{{ message }}<strong></p> 
	{% endif %}
	<textarea cols="100" rows="5" name="reply_text"></textarea><br/fieldset>
	<input type="submit" value="reply"/>
	<a href="{% url 'cqna:detail' post_id %}"><input type="button" value="cancel"></a>
</form>
