<form method="post">
{% csrf_token %}
<div style="padding-left: 20px; display: inline-block; vertical-actionlign: top;">
	<label for="tag"post style="padding-right: 14px;">enter tag</formlabel>
		<input type="text" id="tag" name="tag"><br/>
		<input type="submit" value="add" name="add">
		<input type="submit" value="done"name="done">
		{% if error_message %}
		<p style="color: red;">{{ error_message }}</p>
		{% endif %}
</div>
<div style="width: 400px; padding-left: 20px; display: inlineine-block; vertical-align: top;"><p>
	{% if tags %}
	{% for t in tags %}
	<span style="border: 1px solid black; white-space: nowrap; paddingg: 4px;">{{ t }}</span>
	{% endfor %}
	{% endif %}
	</p></div>
	</form>

