{% load static %}

<link rel="stylesheet" href="{% static 'cqna/style_8.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Unbounded&display=swap" rel="stylesheet">

<div class="navigator">
	<a class="navigator a" href="{% url 'cqna:user_posts' %}">Home</a>
	<a class="navigator a" href="{% url 'cqna:logout' %}">Logout</a>
	<a class="navigator a" href="{% url 'cqna:search' %}">Search</a>
</div>

<div class="page">
<a href="{% url 'cqna:search_user' %}">
<button class="button" ><!-- style="position: absolute; top: 30px; left: 30px;"-->Search by user</button>
</a>
	<a href="{% url 'cqna:search_tag' %}">
<button class="button"><!-- style="position: absolute; top: 30px; left: 150px;" -->Search by tag</button>
	</a>
</div>