{% load static %}

<link rel="stylesheet" href="{% static 'cqna/style_8.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Unbounded&display=swap" rel="stylesheet">

<div class="navigator">
	<a class="navigator a" href="{% url 'cqna:user_posts' %}">Home</a>
	<a class="navigator a" href="{% url 'cqna:logout' %}">Logout</a>
	<a class="navigator a" href="{% url 'cqna:search' %}">Search</a>
</div>

<form method='post'>
	{% csrf_token %}
	<div class="page">
	<label for="user_id">Enter User</label>
	<input type="text" id="user_id" name="s_user">
	<input class="button" type="submit" value="search" name="search"></div>
	<br/><div class="page">
	{% if error_message %}
	<p style="color: red;">{{ error_message }}</p>
	{% endif %}</div>
</form>
