<h1>user_{{ user_id }}'s Posts</h1>
{% if data %}
<ul>
	{% for row in data %}
	 <a href="{% url 'cqna:detail' row.0 %}" style="font-weight: bold; text-decoration: none; color: black; width: 1000px; height: 50px;">
		<div style="margin-bottom: 1.5px; border-radius: 5px; border: 1px solid black; width: 1000px; height: 50px; display    : flex; align-items: center; justify-content: center;">
			{{ row.1 }}
			{# {{ forloop.counter }} #}
		</div>
		 </a> 
	{% endfor %}
</ul>
{% else %}
<p>No posts are available.</p>
{% endif %}
<a href="{% url 'cqna:create_post' %}">
	<input type="button" value="create new post" style="margin-left: 40px;">
	</a>

<a href="{% url 'cqna:logout' %}">
	<button style="position: absolute; top: 30px; right: 60px;">Logout</button>
</a><br/>
<a href="{% url 'cqna:search' %}">
<button style="position: absolute; top: 60px; right: 60px;">Search</button>
<a/>
