<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'cqna/style.css' %}"/>
        <link rel="icon" href="{% static 'cqna/maxresdefault.jpg' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Unbounded&display=swap" rel="stylesheet">
    </head>
    <body style="font-family: 'Quicksand', sans-serif; background-color: #ffffff;">
        <br/><br/><br/><br/><br/><br/>
        <div class="page">
        <img src="{%static 'cqna/maxresdefault.jpg'%}" width="700" height="300"/><br/></div>
        <div class="page">
        <div class="login-box page">
            <form class="login" action="{% url 'cqna:index' %}" method='POST' >
                {% csrf_token %}
                    <div class="form-group page">
                        <input type="text" placeholder="UserID" name="num1" class="form-control">
                    </div>
                    <div class="form-group page">
                        <input type="password" placeholder="password" name="num2" class="form-control">
                    </div>
                    {% if error_message %}
                    <p style="color: red;">{{ error_message }}</p>
                   {% endif %}
                    <div class="page">
                    <button class="button" type="submit" class="full btn">
                        Login
                    </button></div>
                    <div class="form-group">
                        <p> Don't have an account? <br/> <a class="page" href="register"> SignUp</a></p>
                    </div>
                    <!-- formaction="http://localhost:8000/home" -->
            </form><br/>
            <!-- <div class="page"> -->

        </div>
      </div>
      
    </body>
</html>
